body {
    margin: 0px 5px;
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.5px;
    background: white;
    color: black;
}

/* Header */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav a {
    margin: 0 7px;
    color: black;
    text-decoration: none;
}

/* Carrusel */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 0;
}

.carousel-track {
    display: flex;
}

.slide {
    min-width: 100%;
    display: none;
    transition: opacity 0.5s;

}

.slide.active {
    display: block;
}

/* Botones */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 25%;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Dots */
.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 5px;
    background: gray;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: lightgrey;
}


.slides img {
    width: 100%;
    display: none;
}

.slides img.active {
    display: block;
}

/* Botones */
.prev, .next {
    position: absolute;
    top: 50%;
    background: rgba(0,0,0,0.5);
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Secciones */
.section {
    padding: 50px;
    text-align: center;
}

/* Grid de proyectos */
.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 0;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.proyecto-detalle {
    padding: 60px;
    background: rgba(255,255,255,0.1);
    margin: 20px;
    border-radius: 0;
}

.galeria {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria img {
    width: 250px;
    border-radius: 0;
    transition: transform 0.3s;
    cursor: pointer;
}

.galeria img:hover {
    transform: scale(1.1);
}

/* Footer */
footer {
    font-size: 10px;
    text-align: center;
}
